/* .App {
  display: flex;
  flex-direction: column;
  justify-content: center;
} */

/* drag-and-drop tool box */
.editor{
  width: 70%;
  height: 600px;
  border: solid 2px grey;
  float: left;
  margin: 20px;
  text-align: center;
}

.editor p{
  margin: 0;
  position: relative;
  top: 50%;
}

.tools{
  list-style: none;
  column-count: 2;
  width: 200px;
}

.tools li {
  display: flex;
  align-items: center;
  border: solid 2px gray;
  margin-bottom: 1em;
  height: 60px;
  text-align: center;
}

.tools li .label{
  background:white;
  transition: .5s ease;
  opacity:0;
  color: rgb(0, 0, 0);
  border: solid 1px grey;
  position:fixed;
}

.tools li:hover .label {
  opacity: 1;
}

.tools-thumb{
  overflow: hidden;
  flex-shrink: 0;
  background-color: white;
  text-align: center;
}

.tools-thumb img{
  display: block;
  max-width: 80px;
  max-height: 60px;
  text-align: center;
}

/* REACT FLOW */

.ConstructorBuilder{
  /* margin: auto; */
  text-align: center;
  /* margin-left: 260px; */
}

.ConstructorBuilder .Builder{
  margin-left: 270px;
}

.ConstructorBuilder .Textbox{
  border: solid 1px grey;
  max-width: 1000px;
  max-height: 200px;
  margin-top: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 270px;
  text-align: left;
  padding-left: 10px;
  font-family: sans-serif;
}

.label{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.Element-Dropdown{
  padding: 4px;
  background-color: rgb(30, 54, 89);
  border: 2px solid rgb(30, 54, 89);
  border-radius: 6px;
  color: white;
}

.TextGenerator{
  padding: 10px;
  background-color: rgb(30, 54, 89);
  border: 2px solid rgb(30, 54, 89);
  border-radius: 6px;
  color: white;
  margin: 10px;
}