.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  border: none;
  padding: none;
}

body{
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  padding: none;
}

.FlowTest, .ConstructorBuilder, .toolbox, .Textbox, .buttons {
  cursor: default; /* Avoid pointer or text cursors */
}

.FlowTest{
  display: flex;
  border: none;
  padding: none;
}

h1, h2, h3, p {
  border: none;
  background: none;
  box-shadow: none; /* Remove shadows */
  cursor: default;
}

button, input, textarea{
  cursor: pointer;
}

/* NAV BAR */

.Sidebar{
  height:100%;
  width: 300px;
  background-color:#2e3760;
  /* float: left; */
}

.Sidebar p{
  font-family: sans-serif;
  font-weight: bold;
  font-size:larger;
  color: #f6f7fe;
  margin: auto;
  padding-left: 20px;
  padding-top: 20px;
}

.SidebarList{
  height: auto;
  width: 100%;
  padding:0;
  color: #f6f7fe;
}

.Sidebar-row {
  display: flex;
  align-items: center;
  padding-left: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  transition: background-color 0.3s;
}

.Sidebar-row:hover {
  cursor: pointer;
  background-color:#14192d;
}

.Sidebar-row.active {
  background-color:#14192d;
}

.Sidebar-row a {
  text-decoration: none;
  color: #fff; /* White text */
  font-weight: bold; /* Bold text */
  display: flex;
  align-items: center;
  width: 100%;
  font-family: sans-serif
}

.Sidebar-row #SB-icon {
  margin-left: 10px;
  margin-right: 20px; /* Space between icon and text */
}

.Sidebar-row #SB-title {
  flex-grow: 1; /* Allows text to take remaining space */
}

/* REACT FLOW */

.FlowTest h1{
  font-family: sans-serif;
  margin-top: 15px;
}

.ConstructorBuilder{
  margin-left: 50px;
  margin-right: 50px;
  text-align: center;
  /* margin-left: 260px; */
}

.ConstructorBuilder .Builder{
  height : 400px; 
  width: 1000px;
}

.ConstructorBuilder .Textbox{
  border: solid 1px grey;
  max-width: 1000px;
  max-height: 130px;
  margin-top: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  /* margin-left: 270px; */
  text-align: left;
  padding-left: 10px;
  font-family: sans-serif;
  overflow-y: auto;
}

.label{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.CB-options{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 10px;
}

.AddConstructorButton{
  padding: 5px;
  margin-bottom: 10px;
  background-color: #2e3760;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  width: 200px;
}

.AddConstructorButton svg{
  font-size: 15px;
  font-weight: bold;
}

/* GENERATE TEXT BUTTON */

.buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.buttons .TextGenerator{
  padding: 10px;
  background-color: rgb(56, 82, 148);
  border: 2px solid rgb(56, 82, 148);
  border-radius: 6px;
  color: white;
  margin: 10px;
  cursor: pointer;
  max-width: 200px;
  font-family: sans-serif;
  font-size: 13px;
}

/* SAVE BUTTON */
.ConstructorSaver{
  padding: 10px;
  background-color: rgb(6, 26, 79);
  border: 2px solid rgb(6, 26, 79);
  border-radius: 6px;
  color: white;
  margin: 10px;
  cursor: pointer;
  font-family: sans-serif;
  font-size: 13px;
}

/* TOOLBOX */
.toolbox .elements{
  /* display: grid; */
  grid-template-columns: repeat(2, 1fr); /* Two columns with equal width */
  gap: 5px; /* Adjust the gap between items as needed */
  padding: 5px; /* Add some padding around the container */
  margin-right: 10px;
  max-height: 360px;
  overflow-y: auto;
}

.toolbox .elements ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two columns within the UL */
  gap: 2px; /* Adjust the gap between items as needed */
}

.toolbox .elements li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95px; /* Fixed width for each item */
  height: 80px; /* Fixed height for each item */
  background-color: #f0f0f0; /* Background color for each item */
  border: 1px solid #ccc; /* Border for each item */
  border-radius: 4px; /* Optional: rounded corners */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: shadow effect */
  /* position: relative; */
}

.toolbox .elements button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: none;
  background: none;
  cursor: pointer;
  padding: 5px;
  box-sizing: border-box;
}

.toolbox .elements li :hover{
  background-color: #e0e0e0;
}

.toolbox .elements .selector-img {
  max-width: 60%;
  max-height: 60%;
  /* margin-bottom: 2px;  */
  display: block;
}

.toolbox .args{
  background-color: white;
  padding: 4px;
  border: 1px solid grey;
  border-radius: 5px;
  box-shadow: gray;
  z-index: 1000px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20%;
  height: 40%;
  text-align: center;
  /* margin: auto; */
  gap: 5px; /* Adjust the gap between items as needed */
  /* margin-right: 10px; */
  max-height: 200px;
  overflow-y: auto;
}

.toolbox .args ul{
  list-style: none;
  padding: 0;
  margin-left: 20px;
  gap: 2px; /* Adjust the gap between items as needed */
}

.toolbox .args li{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px; /* Fixed width for each item */
  height: 30px; /* Fixed height for each item */
  background-color: #f0f0f0; /* Background color for each item */
  border: 1px solid #ccc; /* Border for each item */
  border-radius: 4px; /* Optional: rounded corners */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: shadow effect */
}

.toolbox .args .arguments-img{
  max-width: 80%;
  max-height: 80%;
  /* margin-bottom: 2px;  */
  padding-right: 2px;
  margin: 2px;
  display: block;
}

.toolbox .args .arg-button{
  display: flex;
  /* flex-direction: column; */
  /* align-items: center; */
  justify-content: center;
  width: 100%;
  height: 100%;
  border: none;
  /* background: none; */
  cursor: pointer;
  padding: 6px;
  box-sizing: border-box;
}

.toolbox .args .arg-name{
  flex:1;
  text-align: right;
}

.toolbox .connectors{
  gap: 5px; /* Adjust the gap between items as needed */
  padding: 5px; /* Add some padding around the container */
  margin-right: 10px;
  max-height: 230px;
  overflow-y: auto;
}

.toolbox .connectors ul {
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 2px; /* Adjust the gap between items as needed */
}

.toolbox .connectors li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px; /* Fixed width for each item */
  height: 30px; /* Fixed height for each item */
  background-color: #f0f0f0; /* Background color for each item */
  border: 1px solid #ccc; /* Border for each item */
  border-radius: 4px; /* Optional: rounded corners */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: shadow effect */
}

.toolbox .connectors button {
  display: flex;
  /* flex-direction: column; */
  /* align-items: center; */
  justify-content: center;
  width: 100%;
  height: 100%;
  border: none;
  background: none;
  cursor: pointer;
  padding: 6px;
  box-sizing: border-box;
}

.toolbox .connectors .name {
  font-size: 12px; /* Adjust font size as needed */
  /* line-height: 1.2; Adjust line height for better spacing */
  /* white-space: normal; /* Allow text to wrap */
  /* word-wrap: break-word; Break long words if necessary */
  /* overflow-wrap: break-word; Ensures long words break properly */
  text-align: right; 
  width: 100%;
  /* margin-bottom: 10px; */
}

.toolbox .connectors .selector-img {
  max-width: 80%;
  max-height: 80%;
  /* margin-bottom: 2px;  */
  padding-right: 2px;
  margin: 2px;
  display: block;
}

.name{
  font-size: 12px; /* Adjust font size as needed */
  line-height: 1.2; /* Adjust line height for better spacing */
  white-space: normal; /* Allow text to wrap */
  word-wrap: break-word; /* Break long words if necessary */
  overflow-wrap: break-word; /* Ensures long words break properly */
  text-align: center;
  width: 100%;
}

.toolbox p{
  font-family: sans-serif;
}

.toolbox .adornments{
  max-height: 190px;
  overflow-y: auto;
  width: 166px;
}


/* SEARCH FORM */

.search-form{
  position:fixed;
  top: 30%;
  margin-left: 280px;
  /* transform: translate(-10%, -50%); */
  border: 1px solid gray;
  border-radius: 5px;
  padding: 4px;
  margin-top: 4px;
  z-index: 1000px;
  background-color: white;
  overflow-y: auto;
  max-height: 300px;
  width: 680px;
}

.search-form .search-input{
  width: 610px;
  margin-left: 43px;
  margin-bottom: 4px;
  margin-top: 10px;
}

.search-form ul{
  list-style: none;
  gap: 1px;
  margin: 4px;
}

.search-form li{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2px;
  background-color: whitesmoke;
  border: solid 2px #606164;
  border-radius: 5px;
}

.search-form .button{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border: none;
  background: none;
  cursor: pointer;
  padding: 6px;
  box-sizing: border-box;
  line-height: 1.2; 
  white-space: normal; 
  word-wrap: break-word; 
  overflow-wrap: break-word; 
}

.search-form .button .itemLabel{
  flex: 30%;
  text-align: left;
  font-weight: bold;
}

.search-form .button .description{
  flex: 70%;
  text-align: right;
  color: #555;
}

/* Constructor input label */

.constructor-input-box{
  background-color: white;
  padding: 4px;
  border: 1px solid grey;
  border-radius: 5px;
  box-shadow: gray;
  z-index: 1000px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  height: 20%;
  text-align: center;
  margin: auto;
}

.constructor-input-box .contents{
  margin-top: 40px;
}

.constructor-input-box .input{
  width: 70%;
}

.constructor-input-box p{
  font-family: sans-serif;
}

/* ERROR MESSAGE */
.error-message{
  background-color: white;
  padding: 4px;
  border: 1px solid grey;
  border-radius: 5px;
  box-shadow: gray;
  z-index: 1000px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  height: 20%;
  text-align: center;
  margin: auto;
}

.error-message .error-text{
  font-family: sans-serif;
  font-weight: bold;
  color: red;
}

/* Settings */
.settings{
  margin-left: 20px;
  margin-bottom: 10px;
  font-family: sans-serif;
}

.settings .language-dropdown{
  width: 200px;
  padding: 4px;
}

/* SAVE CONSTRUCTOR FORM */

.SaveConstructorBox{
  background-color: white;
  padding: 4px;
  border: 1px solid grey;
  border-radius: 5px;
  box-shadow: gray;
  /* z-index: 1000px; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  height: 55%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.save-input, .description-input{
  width: 80%;
  padding: 5px;
  margin: 5px;
  padding: 10px;
  font-size: 16px;
  font-family: sans-serif;
}

#collections-dd{
  width: 83.6%;
  padding: 10px;
  font-family: sans-serif;
  font-size: 16px;
}

.saveForm-button{
  padding: 10px;
  background-color: rgb(6, 26, 79);
  border: 2px solid rgb(6, 26, 79);
  border-radius: 6px;
  color: white;
  margin: 10px;
  cursor: pointer;
  font-family: sans-serif;
  font-size: 13px;
}

/* MY CONSTRUCTORS -- i.e. user made constructors */

.ConstructorManager{
  width: 60%;
  font-family: sans-serif;
  margin-left: 20px;
}

.MyConstructorList{
  list-style: none;
}
.my-constructors{
  background-color: rgb(158, 192, 219);
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: 2px solid #14192d;
  border-radius: 15px;
  font-family: sans-serif;
  color: #14192d;
  cursor: pointer;
}

.my-constructors:hover{
  background-color: rgb(116, 166, 206);
  color: white;
}

.MyConstructorButton{
  width: 100%;
  display: flex;
  background: none;
  border: none;
  color: #14192d;
}

.MyConstructorButton h1{
  flex: 1;
  cursor: pointer;
}
.MyConstructorButton p{
  flex: 1;
  cursor: pointer;
}

/* TOOLTIPS */

.toolbox-info {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
  font-size: 14px;
}

.info-icon{
  cursor: pointer;
  font-size: 1.2em;
  margin-top: 13px;
  margin-right: 30px;
}

.tooltip .tooltiptext {
  visibility: hidden;
  max-width: 200px;
  background-color: rgba(226, 236, 254, 0.982);
  color: #fff;
  text-align: left;
  padding: 5px;
  border-radius: 6px;
  font-family: sans-serif;
  position: absolute;
  z-index: 1;
  right: 25%;
  color: #0b2179;
  border: 1px solid #0b2179;
  font-size: small;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

/* Login screen */

.Login{
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
}

.Login .Login-heading, .Login-text{
  margin: 0;
  text-align: center;
  color: white;
}

.Login .Login-heading{
  font-size: 2rem;
  margin-bottom: 10px;
}

.Login .Login-text{
  font-size: 1rem;
  margin-bottom: 20px;
}

.LoginBox{
  width: 300px;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.LoginBox input {
  width: 93%;
  padding: 10px;
  margin: 10px 0; /* Add margin between inputs */
  border: 1px solid #ccc;
  border-radius: 4px; /* Optional rounded corners */
}

.LoginBox button {
  width: 100%;
  padding: 10px;
  background-color: #14192d; 
  border: none;
  border-radius: 4px; 
  cursor: pointer;
  font-size: 16px;
  color: white;
  font-weight: bold;
  font-family: sans-serif;
}

.LoginBox button:hover {
  background-color: #0056b3; 
}

@media screen and (max-width: 1500px) {

  .App{
    height: 100vh;
  }

  .ConstructorBuilder{
    margin-left: 30px;
    margin-right: 30px;
  }

  .ConstructorBuilder .Textbox{
    max-height: 150px;
  }

  .ConstructorBuilder .Builder{
    width: 800px;
    height: 300px;
  }

  .toolbox{
    margin-right: 5px;
    padding: 0;
  }

  .toolbox .elements{
    height: 250px;
  }

  .toolbox .connectors{
    height: 180px;
  }

  .toolbox .adornments{
    height: 140px;
  }

}
